@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

.live-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background: linear-gradient(90deg, #34d399, #10b981);
  box-shadow: 0 0 8px rgba(16, 185, 129, 0.6);
}
